.login-form-container {
    border-radius: 20px;
    padding: 20px;
    height: max-content;
    margin: auto;

    h1 {
        margin-bottom: 20px;
    }
}

.input-group {
    margin-bottom: 10px;
}
