node_modules
*-lock.*
pnpm-lock.yaml
yarn.lock
package-lock.json
bun.lock

dist
build
.next
.nuxt
.output
public
static

.DS_Store
Thumbs.db
*.log

.env
.env.local
.env.*.local

LICENSE
CHANGELOG.md

*.d.ts
tsconfig.json
tsconfig.*.json