.notifition-dot{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #e02727;
}